*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}
.navbar{
    background-color:rgb(222, 83, 83);
    padding: 10px;
   color: aliceblue;
}
.container{
    padding: 20px;
    
}
.book-container{
    background-color: rgba(0, 0, 0, 0.915);
    width: 23%;
     color: aliceblue;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
  
}
.book-container h2{
    color: rgb(222, 83, 83);
}
.book-container button {
    color: black ;
    background-color: rgb(222, 83, 83);
    border: none;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}
.add-button{
    background-color: rgb(222, 83, 83);
    color: aliceblue;
    border-radius: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    border: none;
    position: fixed; 
    bottom: 30px;
    right: 30px;
}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: rgb(222, 83, 83);
    width: 30%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
    color: black;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
     color: aliceblue;
}
.popup-box textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid black 2px;
    color: aliceblue;
}
.popup-box input::placeholder{
     color: aliceblue;
}
.popup-box textarea::placeholder{
    color: aliceblue;
}

.popup-box button{
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    color: aliceblue;
    margin: 5px;
    border-radius: 8px;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}
 /*Target the textarea specifically*/ 

#book-input-comment::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of scrollbar) */
#book-input-comment::-webkit-scrollbar-track {
  background: black; /* light pink */
  border-radius: 10px;
}

/* Handle (the draggable part) */
#book-input-comment::-webkit-scrollbar-thumb {
  background:white; /* matches your popup-box */
  border-radius: 10px;
}

/* Handle on hover */
#book-input-comment::-webkit-scrollbar-thumb:hover {
  background: white;
  cursor: default;
}

#book-input-comment {
 resize: vertical;
}
